@import '../base/vars';

.projects-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: vw(28);

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
    }

    @media (max-width: 767px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

.project-card {
    padding: vw(26) vw(22) vw(33) vw(37);
    background: linear-gradient(138.69deg, #1d5ba9 0%, #0a325a 100%);
    box-shadow: 14px 14px 40px rgba(16, 16, 18, 0.75), -7px -7px 30px #262e32;
    border-radius: vw(8);

    @media (max-width: 1024px) {
        border-radius: 8px;
        padding: 25px 20px;
    }

    // .project-card__item

    &__item {
        &:not(:last-child) {
            margin-bottom: vw(24);

            @media (max-width: 1024px) {
                margin-bottom: 20px;
            }
        }
    }

    // .project-card__item-title

    &__item-title {
        @extend %text-14;
        font-weight: 600;
        color: #f2f5f8;
    }

    // .project-card__logo

    &__logo {
        img {
            margin-left: vw(63);

            @media (max-width: 1024px) {
                margin-left: 50px;
            }
        }
    }

    // .project-card__team-members

    &__team-members {
        @extend %flex-row;
        margin-top: vw(9);

        @media (max-width: 1024px) {
            margin-top: 9px;
        }

        @media (max-width: 767px) {
            justify-content: space-around;
        }

        @media (max-width: 575px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__progress {
        margin-top: vw(16);

        @media (max-width: 1024px) {
            margin-top: 15px;
        }
    }

    &__title,
    &__text {
        font-family: 'Segoe UI';
    }

    &__title {
        font-size: vw(33);
        line-height: 44 / 33 * 100%;
        margin-bottom: vw(5);

        @media (max-width: 1024px) {
            font-size: 33px;
            margin-bottom: 5px;
        }
    }

    &__text {
        max-width: vw(293);
        @extend %text-16;
        color: #adb9d8;
        margin-bottom: vw(26);

        @media (max-width: 1024px) {
            max-width: 293px;
            margin-bottom: 25px;
        }
    }

    &__btn {
        @extend %vertical-align;
        background-color: transparent;
        font-weight: bold;
        font-size: vw(15);
        line-height: 18 / 15 * 100%;
        color: #cedbdc;

        @media (max-width: 1024px) {
            padding-left: 51px;
            font-size: 15px;
        }
    }

    &__btn-plus {
        width: vw(38);
        height: vw(38);
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: vw(13);
        background-color: #cedbdc;
        background-position: center;
        background-size: vw(14) vw(14);
        background-repeat: no-repeat;

        @media (max-width: 1024px) {
            width: 38px;
            height: 38px;
            background-size: 14px 14px;
            margin-right: 10px;
        }
    }

    &--new {
        @media (min-width: 1025px) {
            padding-top: vw(106);
            padding-left: vw(37);
        }

        @media (max-width: 1024px) {
            padding: 50px 30px;
        }
    }
}

.team-member {
    text-align: center;
    // .team-member__avatar

    &__avatar {
        width: vw(34.44);
        height: vw(34.44);
        margin: 0 auto vw(1.6);

        @media (max-width: 1024px) {
            width: 35px;
            height: 35px;
            margin-bottom: 15px;
        }
    }

    // .team-member__name

    &__name {
        @extend %text-10;
        margin-bottom: vw(2);

        @media (max-width: 1024px) {
            margin-bottom: 2px;
        }
    }

    // .team-member__position

    &__position {
        font-size: vw(8);
        line-height: 10 / 8 * 100%;
        color: #8a88b7;

        @media (max-width: 1024px) {
            font-size: 8px;
            line-height: 10px;
        }
    }
}

.progress {
    position: relative;
    z-index: 10;
    border-radius: vw(165.697);
    width: vw(116);
    height: vw(116);
    margin: 0 auto;

    @media (max-width: 1024px) {
        width: 116px;
        height: 116px;
    }

    svg {
        width: vw(116);
        height: vw(116);
        transform: rotate(145deg);

        @media (max-width: 1024px) {
            width: 116px;
            height: 116px;
        }

        path {
            stroke-linecap: round;
        }
    }

    &:before,
    &:after {
        content: '';
        @extend %pos-center-xy;
        z-index: -1;
        border-radius: vw(331.395);

        @media (max-width: 1024px) {
            border-radius: 331.395px;
        }
    }

    &:before {
        width: vw(130.74);
        height: vw(130.74);
        box-shadow: inset -16.5697px -16.5697px 41.4243px rgba(59, 68, 81, 0.5),
            inset 16.5697px 16.5697px 41.4243px rgba(0, 0, 0, 0.5);

        @media (max-width: 1024px) {
            width: 130.74px;
            height: 130.74px;
        }
    }

    &:after {
        width: vw(95.73);
        height: vw(95.73);
        background-color: #2c2f33;
        box-shadow: 16.5697px 16.5697px 41.4243px rgba(0, 0, 0, 0.5);

        @media (max-width: 1024px) {
            width: 95.73px;
            height: 95.73px;
        }
    }

    &__percent {
        @extend %pos-center-xy;
        width: vw(74.77);
        height: vw(74.77);
        background-color: #2c2f33;
        box-shadow: inset -16.5697px -16.5697px 41.4243px rgba(59, 68, 81, 0.5),
            inset 16.5697px 16.5697px 41.4243px rgba(0, 0, 0, 0.5);
        border-radius: vw(331.395);
        @extend %text-18;
        font-weight: 600;
        color: #eee;
        @extend %flex-center;

        @media (max-width: 1024px) {
            width: 74.77px;
            height: 74.77px;
            border-radius: 331.395px;
        }
    }
}

#progress_1 {
    svg {
        path {
            &:nth-child(2) {
                stroke-dashoffset: 115 !important;
            }
        }
    }
}

#progress_2 {
    svg {
        path {
            &:nth-child(2) {
                stroke-dashoffset: 150 !important;
            }
        }
    }
}
