@import '../base/vars';

.app {
  position: relative;
  overflow-x: hidden;

  &._lock {
    overflow-y: hidden;
  }
}

.app-content {
  padding-left: vw(203);
  padding-right: vw(33);

  @media (max-width: 1024px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  // .app-content__grid

  &__grid {
    padding-top: vw(55);
    padding-bottom: vw(50);
    display: grid;
    grid-gap: vw(28);

    @media (min-width: 1025px) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: 'main main main aside';
    }

    @media (max-width: 1024px) {
      grid-gap: 25px;
      padding: 50px 0;
    }

    @media (max-width: 767px) {
      padding: 30px 0;
    }
  }

  // .app-content__main

  &__main {
    display: grid;
    grid-gap: vw(60);

    @media (min-width: 1025px) {
      grid-area: main;
    }

    @media (max-width: 1024px) {
      grid-gap: 50px;
    }

    @media (max-width: 767px) {
      grid-gap: 25px;
    }
  }

  // .app-content__aside

  &__aside {
    display: grid;
    grid-gap: vw(60);

    @media (min-width: 1025px) {
      grid-area: aside;
    }

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }

  // .app-content__aside-title

  &__aside-title {
    font-weight: 600;
    @extend %text-14;
    color: #c8d3f1;
    margin-bottom: vw(25);

    @media (max-width: 1024px) {
      margin-bottom: 25px;
    }
  }
}